* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(180deg, #eaf2ff, #ffffff);
    color: #1f2937;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(90deg, #434854);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar nav a {
    color: #e0e7ff;
    margin-left: 25px;
    text-decoration: none;
}

.navbar nav a.active,
.navbar nav a:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* HEADER */
.header {
    text-align: center;
    padding: 60px 20px;
}

.header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.header p {
    color: #475569;
}

/* PROJECT SECTION */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px 60px 80px;
}

/* CARD */
.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    margin-bottom: 15px;
    color: #374151;
}

.card ul {
    list-style: none;
    font-size: 14px;
    margin-bottom: 15px;
}

.card ul li {
    margin-bottom: 5px;
}

/* TAG */
.tags {
    background: #dbeafe;
    color: #1d4ed8;
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 15px;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
}

.github {
    background: #1e40af;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}
